---
language: node_js
node_js:
  - "6"
  - "4"

sudo: required
dist: trusty

addons:
  chrome: stable

cache:
  yarn: true
  directories:
    - $HOME/.cache

env:
  # we recommend testing LTS's and latest stable release (bonus points to beta/canary)
  - EMBER_TRY_SCENARIO=ember-1.13
  - EMBER_TRY_SCENARIO=ember-lts-2.4
  - EMBER_TRY_SCENARIO=ember-lts-2.8
  - EMBER_TRY_SCENARIO=ember-release
  - EMBER_TRY_SCENARIO=ember-beta
  - EMBER_TRY_SCENARIO=ember-canary
  - EMBER_TRY_SCENARIO=ember-default

matrix:
  fast_finish: true
  allow_failures:
    - env: EMBER_TRY_SCENARIO=ember-canary

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH

install:
  - yarn install --no-lockfile

script:
  # Usually, it's ok to finish the test scenario without reverting
  #  to the addon's original dependency state, skipping "cleanup".
  - node_modules/.bin/ember try:one $EMBER_TRY_SCENARIO test --skip-cleanup

deploy:
  provider: npm
  email: info@simplabs.com
  api_key:
    secure: uzNzJx1gtduJfK/W2rKaSjwQOF/0tm1NbCJPACnNEJfPjI5Bg/NBTh1WVxe+psmcAhawt9xO9z+sfeyzWTyhzph1dma8iFvrT/0BMtMM8lC0waHqN03BcfP/WjNJn07GdISBlZM5XVrebMOvqXDBFME7rsgRRkkKyymQwEgXB7jYyS+e0JH2iURLSyZNYukY6vx6D7nITTBUXYmYtfsbZMyz5v7y2Qzp941gaUTPRGrjnuKWIz1GXo5FxuxHswrbG1xjrckrKpc1lOMe0kh7EHgD6fCLFf2VOCsPq6kKsGh0nJJ2kAemoyVTyuH560+dW5ctyxOENKYHjBlExOpit9fghup+U33Es0xWcsnJzEXvbw0bu1g/hhLemOFUJ/GeSRH2EN3SK0q7t6wie5S20ZRwhHQkoP5OYC/v6pHXcR5J5b4GWa3INa2QB+ZegO8jDatB/31NGILJEXhwQP0A8/NssiUQV877cc6qbSQ7BWAky72QLq0uA65B8vVLBi1PsI4wk+I9IM88cnW1iCfatqx9F2jAh/ACMpLgD+RJtEhvwgeieOHQzfs1W48McHAFO+VeU31ePhT2duujQD72yESaMzxqt1yAcZYv0Ul2JFsb38M6k3/a/ciicLpEj0x7ttOYZQp3oF3Z5kIylPkTkk3I22VmByysO42HJAPl1nA=
  on:
    tags: true
    repo: simplabs/ember-cookies

notifications:
  email: false
  slack:
    rooms:
      secure: OOKD4ZksqzEBW/A3WRuOToODIxnDITqx+Esu7tdmmYPuQlMYgx4SUHv8j9OM9/ScFJiseeVGSkl45vJrHLLIITX9XSjO1RgiGZgw2heVujmGpF6CZNqvT6GsQuKIvMzmwF7IxuHdfV45Csr9Ou/Fg74TszR/4S2h4SOI4zhLg7A=
    on_success: never
